@using QuizExam.Core.Models.Question
@model EditQuestionVM

@{
    ViewData["Title"] = "Редакция";
}

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Редактирай въпрос</h3>
            </div>
            <form id="edit" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Content" class="form-label"></label>
                        <textarea asp-for="Content" type="text" class="form-control" placeholder="Въведи въпрос..." aria-required="true"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rule" class="form-label"></label>
                        <textarea asp-for="Rule" type="text" class="form-control" placeholder="Въведи правило..."></textarea>
                        <span asp-validation-for="Rule" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Points" class="form-label"></label>
                        <input asp-for="Points" type="number" min="0.0" step=".1" style="width: 25%;" class="form-control" aria-required="true">
                        <span asp-validation-for="Points" class="text-danger"></span>
                    </div>
                    <div class="card-body table-responsive p-0" style="overflow: inherit !important">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">
                                        <a asp-action="newOption" asp-controller="answerOption" asp-route-id="@Model.Id" class="btn btn-info">Добави</a>
                                        <button type="button" class="btn btn-info">Маркирай</button>
                                    </th>
                                    <th style="text-align: center;">Опция</th>
                                    <th style="text-align: center;">Вярно/Невярно</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.Options != null)
                                {
                                    foreach (var option in ViewBag.Options)
                                    {
                                        <tr>
                                            <td class="text-center py-0 align-middle">
                                                <div class="btn-group btn-group-sm">
                                                    <button type="submit" class="btn btn-danger" asp-action="delete" asp-controller="answerOption" asp-route-id="@option.Id"><i class="fas fa-trash"></i></button>
                                                </div>
                                            </td>
                                            <td style="text-align: center;">@option.Content</td>
                                            <td style="text-align: center;">@option.IsCorrect</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <button asp-route-examId="@ViewBag.ExamId" type="submit" class="btn btn-primary">Редактирай</button>
                    <a asp-action="viewExam" asp-controller="exam" asp-route-id="@ViewBag.ExamId" class="btn btn-outline-primary" style="width:auto">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}