@using QuizExam.Core.Models.Exam
@model IEnumerable<ExamListVM>
@{
}

<div class="row">
    <div class="col-12">
        <a asp-action="new" asp-controller="exam" class="btn btn-block btn-outline-info" style="width: 130px; margin-bottom: 10px;">Нов изпит</a>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Изпити</h3>
                @*TODO*@
                @*<div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                    </button>
                    </div>
                    </div>
                    </div>*@
            </div>

            <div class="card-body table-responsive p-0" style="overflow: inherit !important">
                <table class="table table-hover text-wrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center;">Заглавие</th>
                            <th style="text-align: center;">Предмет</th>
                            <th style="text-align: center;">Дата на създаване</th>
                            <th style="text-align: center;">Публикуван</th>
                            <th style="text-align: center;">Опции</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model)
                        {
                            <tr @(exam.IsActive == "No" ? ("style=" + "background-color:" + "gray;") : string.Empty)>
                                <td class="text-right py-0 align-middle">
                                    <div class="btn-group btn-group-sm">
                                        <a asp-action="viewExam" asp-controller="exam" asp-route-id="@exam.Id" class="btn btn-info">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <button type="submit" class="btn btn-danger" asp-action="delete" asp-controller="Exam" asp-route-id="@exam.Id"><i class="fas fa-trash"></i></button>
                                    </div>
                                </td>
                                <td style="text-align: center;">@exam.Title</td>
                                <td style="text-align: center;">@exam.SubjectName</td>
                                <td style="text-align: center;">@exam.CreateDate</td>
                                <td style="text-align: center;">@exam.IsActive</td>
                                <td style="text-align: center;">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info">Опции</button>
                                        <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" role="menu" style="">
                                            <a class="dropdown-item" asp-action="edit" asp-controller="exam" asp-route-id="@exam.Id">Редакция</a>
                                            <form method="post">
                                                <button type="submit" class="dropdown-item" asp-action="activate" asp-controller="exam" asp-route-id="@exam.Id">Активирай</button>
                                                <button type="submit" class="dropdown-item" asp-action="deactivate" asp-controller="exam" asp-route-id="@exam.Id">Деактивирай</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
