@using QuizExam.Core.Models.Exam
@model ViewExamVM

@*TODO*@
<style>

    .center {
        margin: auto;
        width: 60%;
        border: 5px solid #FFFF00;
        padding: 10px;
    }

</style>

<header class="bg-dark bg-gradient text-white" style="margin-bottom: 15px;">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">@Model.Title</h1>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="row d-flex justify-content-center">
        <a asp-action="new" asp-controller="question" asp-route-id="@Model.Id" class="btn btn-success" style="width:auto; margin-bottom: 10px;">Добави въпрос</a>
    </div>
</header>
@*TODO*@
@foreach (var question in Model.Questions)
{
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="display: block;">
                    @question.Content
                    @foreach (var option in question.AnswerOptions)
                    {
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox" id="customCheckbox2">
                            <label for="customCheckbox2" class="custom-control-label">@option.Content</label>
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        <form method="post" class="col-sm-4">
                            <a asp-action="edit" asp-controller="question" asp-route-id="@question.Id" asp-route-examId="@Model.Id" class="btn btn-outline-secondary btn-sm" style="width: 70px; margin-right: 5px; height: fit-content;">Edit</a>
                            <button asp-action="Delete" asp-controller="Question" asp-route-id="@question.Id" asp-route-examId="@Model.Id" type="submit" class="btn btn-outline-dark btn-sm" style="width: 70px; height: fit-content;">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}