@using QuizExam.Core.Models.Exam
@model ViewExamVM

@*TODO*@
<style>

    .center {
        margin: auto;
        width: 60%;
        border: 5px solid #FFFF00;
        padding: 10px;
    }

</style>

<header class="bg-dark bg-gradient text-white" style="margin-bottom: 15px;">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">@Model.Title</h1>
        <p class="lead">@Model.Description</p>
    </div>
    <div class="row d-flex justify-content-center">
        <a asp-action="new" asp-controller="question" asp-route-id="@Model.Id" class="btn btn-success" style="width:auto; margin-bottom: 10px;">Добави въпрос</a>
    </div>
</header>
@for (int i = 0; i < Model.Questions.Count; i++)
{
    var question = Model.Questions[i];
    var orderNumber = i + 1;
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold border border-dark" style="width: 20px; text-align: center;">@orderNumber</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="display: block;">
                    <p class="font-weight-bold">@question.Content</p>
                    @foreach (var option in question.AnswerOptions)
                    {
                        <div class="form-check" style="margin-left: 50px;">
                            <input asp-for="@option.IsCorrect" class="form-check-input" id="customCheckbox2" disabled />
                            <label asp-for="@option.IsCorrect" class="form-check-label">@option.Content</label>
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        <form method="post" class="col-sm-4">
                            <a asp-action="edit" asp-controller="question" asp-route-id="@question.Id" asp-route-examId="@Model.Id" class="btn btn-outline-secondary btn-sm" style="width: 70px; margin-right: 5px; height: fit-content;">Edit</a>
                            <button asp-action="Delete" asp-controller="Question" asp-route-id="@question.Id" asp-route-examId="@Model.Id" type="submit" class="btn btn-outline-dark btn-sm" style="width: 70px; height: fit-content;">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}