@using QuizExam.Core.Models.AnswerOption
@model SetCorrectAnswerVM

@{
    var options = (List<SelectListItem>)ViewBag.Options;
    var questionContent = TempData["QuestionContent"];
    var examId = TempData["ExamId"];
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p class="font-weight-bold">@questionContent</p>
            </div>
            <form method="post">
                <div class="card-body" style="display: block;">
                    <input type="hidden" asp-for="@Model.QuestionId" name="QuestionId" value="@Model.QuestionId" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.Options.Count; i++)
                    {
                        var currentOption = Model.Options[i];
                        <div class="form-check" style="margin-left: 50px;">
                            <input type="hidden" asp-for="@Model.Options[i].Id" />
                            <input type="hidden" asp-for="@Model.Options[i].Content" />
                            <input asp-for="@Model.CorrectAnswerId" value="@currentOption.Id" class="form-check-input" type="radio" /> @currentOption.Content
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        <button type="submit" asp-route-examId="@examId" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-right: 5px; height: fit-content;">Редактирай</button>
                        <a asp-action="edit" asp-controller="question" asp-route-id="@Model.QuestionId" asp-route-examId="@examId" class="btn btn-outline-dark btn-sm" style="width: 70px; height: fit-content;">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>