@using QuizExam.Core.Models.TakeAnswer
@model List<TakeAnswerVM>

@{
    var options = (List<SelectListItem>)ViewBag.Options;
    var questionContent = TempData["QuestionContent"];
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p class="font-weight-bold">@questionContent</p>
            </div>
            <form method="post">
                <div class="card-body" style="display: block;">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="form-check" style="margin-left: 50px;">
                            <input type="hidden" asp-for="@Model[i].AnswerId" />
                            <input type="hidden" asp-for="@Model[i].Content" />
                            <input asp-for="@Model[i].Selected" class="form-check-input" id="customCheckbox2" />
                            <label asp-for="@Model[i].Selected" class="form-check-label">@Model[i].Content</label>
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        <button type="submit" asp-route-examId="" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-right: 5px; height: fit-content; float: right;">Следващ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>