@using QuizExam.Core.Models.Question
@model HardestQuestionVM

@{
    var subjects = (List<SelectListItem>)ViewBag.Subjects;
    var exams = (List<SelectListItem>)ViewBag.Exams;
}

<div class="row justify-content-left form-group">
    <div class="col-md-auto">
        <label asp-for="SubjectId"></label>
        <select asp-for="SubjectId" asp-items="@subjects" name="SubjectId" id="subjectSelect" data-placeholder="Избери предмет" style="width: 280px">
            <option></option>
        </select>
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>
    <div class="col-md-auto">
        <label asp-for="ExamId"></label>
        <select asp-for="ExamId" name="ExamId" asp-items="@exams" id="examSelect" data-placeholder="Избери изпит" style="width: 280px">
            <option></option>
        </select>
        <span asp-validation-for="ExamId" class="text-danger"></span>
    </div>
    <div class="col">
        <a type="button" class="btn btn-info load-button" style="margin-top: 37px">Зареди</a>
    </div>
</div>

<div class="card" style="position: relative; left: 0px; top: 0px;">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-pie mr-1"></i>
            Топ 5 най-често грешени въпроси
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="chart-container col" style="position: relative; height:400px; width:600px;">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col">
                <h3>Пояснения на бар-диаграмата:</h3>
                <ul>
                    <li>Всяка лента на диаграмата представлява един въпрос.</li>
                    <li>Височината на лентата показва процента на потребителите, които са дали грешен отговор на този въпрос.</li>
                </ul>
                <p class="font-weight-bold" id="questionContent"></p>
                <div id="answersContainer"></div>
                <p class="font-weight-bold" id="rule" style="margin-top: 30px; text-decoration: underline;"></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById('myChart').getContext('2d');
            ctx.canvas.width = 600;
            ctx.canvas.height = 400;
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: @Html.Raw(Json.Serialize(Model.HardestQuestionsInfo.Select(q => q.Content))),
                    datasets: [{
                        label: '% потребители посочили грешен отговор',
                        data: @Html.Raw(Json.Serialize(Model.HardestQuestionsInfo.Select(q => q.MistakePercentage.ToString()))),
                        answerOptions: @Html.Raw(Json.Serialize(Model.HardestQuestionsInfo.Select(q => q.AnswerOptions))),
                        rules: @Html.Raw(Json.Serialize(Model.HardestQuestionsInfo.Select(q => q.Rule))),
                        backgroundColor: [
                            // Add colors for each question
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 215, 0, 0.2)',
                            'rgba(50, 205, 50, 0.2)',
                            'rgba(65, 105, 225, 0.2)',
                            'rgba(255, 127, 80, 0.2)',
                        ],
                        borderColor: [
                            // Add border colors for each question
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 215, 0, 1)',
                            'rgba(50, 205, 50, 1)',
                            'rgba(65, 105, 225, 1)',
                            'rgba(255, 127, 80, 1)',
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        x: {
                            display: false,
                        },
                        y: {
                            beginAtZero: true,
                            suggestedMin: 0,
                            suggestedMax: 100
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Топ 5 най-често грешени въпроси'
                    }
                }
            });

            document.getElementById('myChart').onclick = function (evt) {
                const activePoints = myChart.getElementsAtEventForMode(evt, 'nearest', { intersect: true }, true);
                if (activePoints.length > 0) {
                    const firstPoint = activePoints[0];
                    const label = myChart.data.labels[firstPoint.index];
                    const value = myChart.data.datasets[firstPoint.datasetIndex].data[firstPoint.index];
                    const answerOptions = myChart.data.datasets[firstPoint.datasetIndex].answerOptions[firstPoint.index];
                    const rule = myChart.data.datasets[firstPoint.datasetIndex].rules[firstPoint.index];
                    document.getElementById('questionContent').innerHTML = label;

                    const answersContainer = document.getElementById('answersContainer');
                    answersContainer.innerHTML = ''; // Clear previous answers

                    answerOptions.forEach(option => {
                        const div = document.createElement('div');
                        div.className = 'form-check';
                        div.style.marginLeft = '50px';

                        const input = document.createElement('input');
                        input.type = 'checkbox'
                        input.value = option.isCorrect;
                        if (option.isCorrect === true) {
                            input.checked = 'checked'
                        }
                        input.className = 'form-check-input';
                        input.disabled = true;

                        const label = document.createElement('label');
                        label.className = 'form-check-label';
                        label.textContent = option.content;

                        div.appendChild(input);
                        div.appendChild(label);

                        answersContainer.appendChild(div);
                    });

                    document.getElementById('rule').innerHTML = rule;
                }
            };

            $('#subjectSelect').select2({
                allowClear: true
            });
            $('#examSelect').select2({
                allowClear: true
            });

            $('#subjectSelect').on('change', function () {
                var selectedSubjectId = $(this).val();

                // Make an AJAX request to fetch exams for the selected subject
                $.ajax({
                    url: '/Statistics/GetExamsForSubject',
                    type: 'GET',
                    data: { subjectId: selectedSubjectId },
                    success: function (data) {
                        // Clear existing options in examSelect
                        $('#examSelect').empty();

                        // Add new options based on the response
                        $.each(data, function (index, exam) {
                            $('#examSelect').append($('<option>', {
                                value: exam.id,
                                text: exam.title
                            }));
                        });
                    }
                });
            });

            $('.load-button').click(function () {
                var subjectSelect = document.getElementById('subjectSelect');
                var subjectId = subjectSelect.value;
                var examSelect = document.getElementById('examSelect');
                var examId = examSelect.value;

                $.ajax({
                    url: "/Statistics/GetTopHardestQuestions",
                    type: "GET",
                    data: { 'subjectId': subjectId, 'examId': examId },
                    success: function (response) {
                        $('body').html(response);
                    }
                });
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}