@using QuizExam.Core.Models
@model UserListVM

@{
    ViewData["Title"] = "Потребители";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Потребители</h3>
            </div>

            <div class="card-body table-responsive p-0" style="overflow: inherit !important">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th style="text-align: center">Name</th>
                            <th style="text-align: center">Email</th>
                            <th style="text-align: center">Roles</th>
                            <th style="text-align: center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td style="text-align: center">@user.Name</td>
                                <td style="text-align: center">@user.Email</td>
                                <td style="text-align: center">@string.Join(", ", user.Roles.ToList())</td>
                                <td style="text-align: center">
                                    <a asp-area="admin" asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="btn btn-block btn-outline-info btn-sm">Edit</a>
                                    <a asp-area="admin" asp-action="GetRoles" asp-controller="User" asp-route-id="@user.Id" class="btn btn-block btn-outline-success btn-sm">Roles</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <paging page-no="@Model.PageNo"
                        page-size="@Model.PageSize"
                        total-records="@Model.TotalRecords"
                        page-size-dropdown-items="5-10-15">
                </paging>
            </div>
        </div>
    </div>
</div>
