@using QuizExam.Core.Models.TakeQuestion
@model TakeQuestionVM

@{
    var order = Model.Order + 1;
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p class="font-weight-bold">@order. @Model.Content</p>
            </div>
            <form method="post">
                <div class="card-body" style="display: block;">
                    <input type="hidden" asp-for="@Model.QuestionId" name="QuestionId" />
                    <input type="hidden" asp-for="@Model.TakeExamId" name="TakeExamId" />
                    <input type="hidden" asp-for="@Model.Order" name="Order" />
                    <input type="hidden" asp-for="@Model.IsLast" name="IsLast" value="@Model.IsLast"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.TakeAnswers.Count; i++)
                    {
                        string checkedOption = Model.TakeAnswers[i].IsChecked ? "checked" : null;
                        <div class="form-check" style="margin-left: 50px;">
                            <input type="hidden" asp-for="@Model.TakeAnswers[i].AnswerId" />
                            <input type="hidden" asp-for="@Model.TakeAnswers[i].Content" />
                            <input type="hidden" asp-for="@Model.TakeAnswers[i].IsChecked" />
                            <input asp-for="@Model.CheckedOptionId" value="@Model.TakeAnswers[i].OptionId" checked="@checkedOption" type="radio" class="form-check-input" /> @Model.TakeAnswers[i].Content
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        @if (Model.Order - 1 >= 0)
                        {
                            <a asp-action="getPreviousQuestion" asp-controller="question" asp-route-examId="@Model.ExamId" asp-route-takeId="@Model.TakeExamId" asp-route-order="@Model.Order - 1" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-right: auto; height: fit-content;">Назад</a>  
                        }
                        @if (Model.IsLast)
                        {
                            <button type="submit" asp-action="add" asp-controller="takeAnswer" asp-route-examId="@Model.ExamId" class="btn btn-outline-primary btn-sm" style="width: 100px; margin-left: auto; height: fit-content;">Предай</button>
                        }
                        else
                        {
                            <button type="submit" asp-action="add" asp-controller="takeAnswer" asp-route-examId="@Model.ExamId" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-left: auto; height: fit-content;">Следващ</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
