@using QuizExam.Core.Models.TakeQuestion
@model TakeQuestionVM

@{
    var order = Model.Order + 1;
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <p class="font-weight-bold">@order. @Model.Content</p>
            </div>
            <form method="post">
                <div class="card-body" style="display: block;">
                    <input type="hidden" asp-for="@Model.QuestionId" name="QuestionId" />
                    <input type="hidden" asp-for="@Model.TakeExamId" name="TakeExamId" />
                    <input type="hidden" asp-for="@Model.Order" name="Order" />
                    <input type="hidden" asp-for="@Model.IsLast" name="IsLast" value="@Model.IsLast"/>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @for (int i = 0; i < Model.TakeAnswers.Count; i++)
                    {
                        <div class="form-check" style="margin-left: 50px;">
                            <input type="hidden" asp-for="@Model.TakeAnswers[i].AnswerId" />
                            <input type="hidden" asp-for="@Model.TakeAnswers[i].Content" />
                            <input asp-for="@Model.CheckedOptionId" value="@Model.TakeAnswers[i].AnswerId" type="radio" class="form-check-input" /> @Model.TakeAnswers[i].Content
                        </div>
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <div class="row">
                        @if (Model.IsLast)
                        {
                            <button type="submit" asp-action="add" asp-controller="takeAnswer" asp-route-examId="@Model.ExamId" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-right: 5px; height: fit-content;">Предай</button>
                        }
                        else
                        {
                            <button type="submit" asp-action="add" asp-controller="takeAnswer" asp-route-examId="@Model.ExamId" class="btn btn-outline-secondary btn-sm" style="width: 100px; margin-right: 5px; height: fit-content;">Следващ</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@*@model Guid[]

@{
    Guid currentId = Guid.Empty;
}

<div class="content" style="margin-top: 20px;">
    <div class="container-fluid" style="width:100%; height:auto; display:flex; flex-wrap: wrap;">
        @for (int i = 0; i < Model.Count(); i++)
        {
            currentId = Model[i];
            <a name="@Model[i]" id="question" class="btn btn-info question" style="margin-right: 2px; margin-bottom: 3px;">@i</a>
        }
    </div>
</div>
<div id="dvPartialView">
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
         $('[id*=question]').on('click', function () {
             $.ajax({
                 url: '@Url.Action("GetQuestion", "Question")',
                 dataType: "html",
                 data: { "id": $(this).attr('name') },
                 type: "GET",
                 contentType: "application/json",
                 success: function (response) {
                     $('#dvPartialView').html(response);
                 },
                 error: function (err) {
                     alert(err.responseText);
                 }
             });
         });
     });
</script>*@