@using QuizExam.Core.Models.TakeExam
@using QuizExam.Infrastructure.Data.Enums
@model TakenExamsListVM
@{
    ViewData["Title"] = "Архив";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Архив</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-wrap">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="text-align: center;">Заглавие</th>
                            <th style="text-align: center;">Предмет</th>
                            <th style="text-align: center;">Дата на полагане</th>
                            <th style="text-align: center;">Режим</th>
                            <th style="text-align: center;">Точки</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model.TakenExams)
                        {
                            <tr>
                                <td class="text-right py-0 align-middle">
                                    <form method="post">
                                        <div class="btn-group btn-group-sm">
                                            <a asp-action="getTakeResult" asp-controller="takeExam" asp-route-takeId="@exam.Id" class="btn btn-info">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </form>
                                </td>
                                <td style="text-align: center;">@exam.Title</td>
                                <td style="text-align: center;">@exam.SubjectName</td>
                                <td style="text-align: center;">@exam.CreateDate</td>
                                <td style="text-align: center;">@(exam.Mode == TakeExamModeEnum.Exercise ? "Упражнение" : "Подготовка")</td>
                                <td style="text-align: center;">@exam.ResultScore / @exam.MaxScore</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paging page-no="@(int)Model.PageNo"
                    page-size="@(int)Model.PageSize"
                    total-records="@(int)Model.TotalRecords"
                    page-size-dropdown-items="5-10-25">
            </paging>
        </div>
    </div>
</div>
