@using QuizExam.Core.Models.TakeExam
@model UncompletedExamsVM
@{
    ViewData["Title"] = "Незавършени изпити";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Незавършени изпити</h3>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-wrap">
                    <thead>
                        <tr>
                            <th style="width: 3%"></th>
                            <th style="text-align: center;">Заглавие</th>
                            <th style="text-align: center;">Предмет</th>
                            <th style="text-align: center;">Започнат</th>
                            <th style="text-align: center; width: 15%;"></th>
                            <th style="text-align: center; width: 5%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var exam in Model.UncompletedExams)
                        {
                            <tr>
                                <td class="text-right py-0 align-middle">
                                    <form method="post">
                                        <div class="btn-group btn-group-sm">
                                                <a asp-action="continue" asp-controller="takeExam" asp-route-takeId="@exam.TakeId" class="btn btn-info">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                    </form>
                                </td>
                                <td style="text-align: center;">@exam.Title</td>
                                <td style="text-align: center;">@exam.SubjectName</td>
                                <td style="text-align: center;">@exam.StartDate</td>
                                <td style="text-align: center;">
                                    <div class="progress progress-xs progress-striped active" style="margin-top: 10px;">
                                        @{
                                            decimal progress = Math.Round(((decimal)exam.TakenQuestionsCount / (decimal)exam.AllQuestionsCount) * 100, 0);
                                        }
                                        <div class="progress-bar bg-success" style="width: @progress%"></div>
                                    </div>
                                </td>
                                <td>
                                    <span class="badge bg-success">@Math.Round(progress, 0)%</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paging page-no="@(int)Model.PageNo"
                    page-size="@(int)Model.PageSize"
                    total-records="@Model.TotalRecords"
                    page-size-dropdown-items="5-10-25"
                    class-active-page="bg-light"
                    settings-json="custom">
            </paging>
        </div>
    </div>
</div>
