@using QuizExam.Core.Models.TakeExam
@using QuizExam.Infrastructure.Data.Enums
@model TakeExamVM

@{
    var selectedFilter = ViewBag.Filter;
}

<header class="bg-dark bg-gradient text-white" style="margin-bottom: 15px;">
    <div class="container">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder">@Model.Title</h1>
            @if (Model.Mode == TakeExamModeEnum.Train)
            {
                <p class="lead">@Model.TimePassed / @Model.Duration</p>
            }
            else
            {
                <p class="lead">@Model.TimePassed</p>
            }
            <p class="lead">@Model.ResultScore / @Model.MaxScore</p>
            <div style="display: flex; justify-content: center;">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="all" name="filter" value="all" @(selectedFilter == "all" || selectedFilter == null? "checked" : "")>
                    <label for="all" class="custom-control-label" style="margin-right: 20px;">Всички</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="correct" name="filter" value="correct" @(selectedFilter == "correct" ? "checked" : "")>
                    <label for="correct" class="custom-control-label" style="margin-right: 20px;">Верни</label>
                </div>
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="incorrect" name="filter" value="incorrect" @(selectedFilter == "incorrect" ? "checked" : "")>
                    <label for="incorrect" class="custom-control-label" style="margin-right: 20px;">Грешни</label>
                </div>
            </div>
        </div>
    </div>

</header>
@for (int i = 0; i < Model.Questions.Count; i++)
{
    var question = Model.Questions[i];
    var orderNumber = i + 1;
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold border border-dark" style="width: 20px; text-align: center;">@orderNumber</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body" style="display: block;">
                    <p class="font-weight-bold">@question.Content</p>
                    @foreach (var option in question.AnswerOptions)
                    {
                        bool isChecked = option.Id != null;

                        if (isChecked && !option.IsCorrect)
                        {
                            <div class="custom-control custom-checkbox" style="margin-left: 50px;">
                                <input asp-for="@isChecked" value="@isChecked" class="custom-control-input custom-control-input-danger" type="checkbox" disabled />
                                <label asp-for="@isChecked" class="custom-control-label">@option.Content</label>
                            </div>
                        }
                        else if (!isChecked && option.IsCorrect)
                        {
                            <div class="custom-control custom-checkbox" style="margin-left: 50px;">
                                <input asp-for="@option.IsCorrect" value="@option.IsCorrect" class="custom-control-input custom-control-input-green custom-control-input-outline" type="checkbox" disabled />
                                <label asp-for="@option.IsCorrect" class="custom-control-label">@option.Content</label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-checkbox" style="margin-left: 50px;">
                                <input asp-for="@isChecked" value="@isChecked" class="custom-control-input custom-control-input-green" disabled />
                                <label asp-for="@isChecked" class="custom-control-label">@option.Content</label>
                            </div>
                        }
                    }
                </div>
                <div class="card-footer" style="display: block;">
                    <p @(question.Rule != null)>@question.Rule</p>
                </div>
            </div>
        </div>
    </div>
}
<a id="back-to-top" href="#" class="btn btn-info back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>
